<div class="container col-md-6">
  <h2>Wellcome to FlightBooking</h2>
  <form (ngSubmit)="searchF()">

    <div class="mb-3">
      <label for="start" class="form-label">Start</label>
      <input type="text" class="form-control" id="start" name="start" [(ngModel)]="flight.start">
    </div>
    <div class="mb-3">
      <label for="destination" class="form-label">Destination</label>
      <input type="text" class="form-control" id="destination" name="destination" [(ngModel)]="flight.destination" >
    </div>
    <div class="mb-3">
      <label for="data" class="form-label">Data</label>
      <input type="text" class="form-control" id="data" name="data" [(ngModel)]="flight.data" >
    </div>

    <button type="submit" class="btn btn-primary">Search</button>

  </form>
  <div *ngIf="issearch">
    <app-flight-list>

    </app-flight-list>
  </div>
</div>
